beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2022.12.7
chardet==3.0.4
click==6.7
Flask==1.0.2
idna==2.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pipenv==2018.5.18
pymongo==3.6.1
requests==2.18.4
urllib3==1.22
virtualenv==16.0.0
virtualenv-clone==0.3.0
Werkzeug==0.14.1
youtube-dl==2018.5.9
gunicorn==19.8.1
pytube==9.2.2
websocket-client==0.47.0
Flask-SocketIO==3.0.0
python-socketio==1.9.0	
python-engineio==2.1.1