{% extends "base.html" %}

{% block content %}

<form style="text-align: center; height:397px; position: relative; top: 20px;" action="/register" method="post">
    <div class="form-group">
        <strong>
            <label for="exampleInputName">
                <i class="fas fa-thumbtack"></i>&nbsp;Name
            </label>
        </strong>
        <input type="text" class="form-control" name="InputName" id="exampleInputName"
               aria-describedby="nameHelp"
               placeholder="Enter name" required>
    </div>
    <div class="form-group">
        <strong>
            <label for="exampleInputAccount">
                <i class="far fa-user-circle"></i>&nbsp;Account
            </label>
        </strong>
        <input type="text" class="form-control" name="InputAccount" id="exampleInputAccount"
               aria-describedby="accountHelp"
               placeholder="Enter account" required>
    </div>
    <div class="form-group">
        <strong>
            <label for="exampleInputPassword">
                <i class="fas fa-unlock-alt"></i>&nbsp;Password
            </label>
        </strong>
        <input type="password" class="form-control" name="InputPassword" id="exampleInputPassword"
               placeholder="Password" required>
    </div>
    <small id="accountHelp" class="form-text text-muted">{{message}}</small>
    <a href="/login"><h6>Login</h6></a>

    <div class="form-group">
        <button style="position: relative; top: 6px;" type="submit" class="btn btn-primary">
            <i class="fas fa-feather"></i>&nbsp;Create</button>
    </div>
</form>

{% endblock %}